parameters:
    paths:
        - src
        - tests
    level: 8
    ignoreErrors:
        # Ignore PHPUnit mock methods - only the ones that are actually used
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::expects\(\)#'
        # Ignore array type specifications for data objects (they contain mixed API data)
        - '#has parameter \$[a-zA-Z]+ with no value type specified in iterable type array#'
        - '#return type has no value type specified in iterable type array#'
    excludePaths:
        - vendor/*
        - '*/vendor/*'
    scanDirectories: []
    scanFiles: []
    bootstrapFiles: []